### Privileged and override properties
privileged.properties
override.properties

### Releases
# This is where releases are built for upload to GitHub
/release

### Composer
/plugins/filesystem/s3/vendor